{% extends 'base.html.twig' %}

{% block body %}
    <h2>Page not found</h2>

    {# example security usage, see below #}
    {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('ffjv_fo_home_index') }}">return to the homepage</a>.
    </p>
{% endblock %}