{% extends 'base.html.twig' %}

{% block body %}
    <h2>Access denied</h2>

    <p>
        “Permission Denied! You do not have permission to access this page”
        <a href="{{ path('ffjv_fo_home_index') }}">return to the homepage</a>.
    </p>
{% endblock %}