<p>Bonjour {{ user.username }},<br />
    Nous vous confirmons la création de votre club <a href="{{ path('fo_clubs_show', {'clubId': club.id}) }}">{{ club.title }}</a><br />
    Vous pouvez dès à présent y inviter vos partenaires, créer des équipes, et<br />
    les affilier à nos différentes ligues.<br />
    eSportivement,<br />
    Le service Administration de la FFJV</p>