<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>{% block title %}Intranet FFjv{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('public/img/logo/logo_ffjv.png') }}" />
</head>
<body class="{% block classbody %}{% endblock %}">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
