{% extends('WebComponentBundle::layout.html.twig') %}
{% block customCSS %}

{% endblock %}
{% block webComponent %}

{% endblock %}

{% block content %}
        <div>
            <article>
                <h4>title Article</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim incidunt minus nobis non officiis quasi quod ullam. Accusantium autem beatae eius quas qui quidem quod temporibus totam ullam velit. Adipisci.</p>
            </article>
            <article>
                <h4>title Article</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim incidunt minus nobis non officiis quasi quod ullam. Accusantium autem beatae eius quas qui quidem quod temporibus totam ullam velit. Adipisci.</p>
            </article>
            <article>
                <h4>title Article</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim incidunt minus nobis non officiis quasi quod ullam. Accusantium autem beatae eius quas qui quidem quod temporibus totam ullam velit. Adipisci.</p>
            </article>
            <article>
                <h4>title Article</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim incidunt minus nobis non officiis quasi quod ullam. Accusantium autem beatae eius quas qui quidem quod temporibus totam ullam velit. Adipisci.</p>
            </article>
            <article>
                <h4>title Article</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim incidunt minus nobis non officiis quasi quod ullam. Accusantium autem beatae eius quas qui quidem quod temporibus totam ullam velit. Adipisci.</p>
            </article>
            <article>
                <h4>title Article</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim incidunt minus nobis non officiis quasi quod ullam. Accusantium autem beatae eius quas qui quidem quod temporibus totam ullam velit. Adipisci.</p>
            </article>
            <article>
                <h4>title Article</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim incidunt minus nobis non officiis quasi quod ullam. Accusantium autem beatae eius quas qui quidem quod temporibus totam ullam velit. Adipisci.</p>
            </article>
            <article>
                <h4>title Article</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim incidunt minus nobis non officiis quasi quod ullam. Accusantium autem beatae eius quas qui quidem quod temporibus totam ullam velit. Adipisci.</p>
            </article>
            <article>
                <h4>title Article</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim incidunt minus nobis non officiis quasi quod ullam. Accusantium autem beatae eius quas qui quidem quod temporibus totam ullam velit. Adipisci.</p>
            </article>
            <article>
                <h4>title Article</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim incidunt minus nobis non officiis quasi quod ullam. Accusantium autem beatae eius quas qui quidem quod temporibus totam ullam velit. Adipisci.</p>
            </article>
            <article>
                <h4>title Article</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim incidunt minus nobis non officiis quasi quod ullam. Accusantium autem beatae eius quas qui quidem quod temporibus totam ullam velit. Adipisci.</p>
            </article>
            <article>
                <h4>title Article</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim incidunt minus nobis non officiis quasi quod ullam. Accusantium autem beatae eius quas qui quidem quod temporibus totam ullam velit. Adipisci.</p>
            </article>
        </div>
{% endblock %}