nav{
  background-color: #223741!important;
  font-size: 10px;
  a{
    color: #ffffff!important;
  }
  .dropdown-menu{
    a {
      color: #000000!important;
    }
  }
}
.navbar-fixed-top .navbar-nav>li{
  font-size: 15px;
}

.main-wrapper{
  margin-top: 75px;
}
