<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">{{ item.title }}</div>
        </div>
        <table class="table table-bordered">
            <thead>
                <th>
                    <td>#</td>
                    <td>title</td>
                    <td>content</td>
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>banana</td>
                    <td>c'est la banana</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>paple</td>
                    <td>c'est la Paple !!!</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
