
<p>Bonjour {{ user.username }},<br /></p>
<p>Vous avez demandé à réinitialiser le mot de passe de votre compte FFJV. Cliquez sur le bouton ci-dessous pour vous y rendre. Si vous n'avez pas demandé à réinitialiser votre mot de passe, ignorez ce message !</p>
<p><a href="{{ url('ffjv_fo_security_new_password', {'activationCode': code, 'email': user.email}) }}">cliquez-ici</a></p><br />
<p>Nous vous rappelons de ne jamais communiquer votre mot de passe, à qui que ce soit.</p><br />
<p>eSportivement,</p>
